# Python virtual environment
futh/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# PyInstaller build output
build/
dist/

# PyInstaller temporary files
*.spec.bak

# IDE / editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db