/* ==========================================================
   SAVED FORMULAS
   ========================================================== */

QListWidget#formulaList {
    background-color: #202020;

    border: 1px solid #505050;
    border-radius: 8px;

    padding: 5px;

    font-size: 15px;
}


/* Individual saved formula entries */

QListWidget#formulaList::item {
    padding: 10px;

    border-radius: 5px;
}


/* Mouse hover */

QListWidget#formulaList::item:hover {
    background-color: #303030;
}


/* Selected formula */

QListWidget#formulaList::item:selected {
    background-color: #444444;

    color: #ffffff;
}


/* Saved formula title */

QLabel#savedFormulaTitle {
    font-size: 22px;

    font-weight: bold;

    padding: 10px;
}


/* ==========================================================
   SIDEBAR TITLE
   ========================================================== */

QLabel#sidebarTitle {
    font-size: 20px;

    font-weight: bold;

    padding: 10px 5px 20px 5px;
}